In [4]:
# Import all the functions you need
%load_ext autoreload
%autoreload 2

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sys
import os
from pathlib import Path
import platform

# Comment here to add in for either mac or linux computer
if platform.system() == 'Linux': # for linux
    sys.path.extend(['/data/GitHub/NeuroPy']) 
    sys.path.extend(['/data/GitHub/TraceFC/'])
elif platform.system() == 'Darwin':
    sys.path.extend(['/Users/nkinsky/Documents/UM/GitHub/NeuroPy'])
    sys.path.extend(['/Users/nkinsky/Documents/UM/GitHub/TraceFC'])
elif platform.system() == 'Windows':
    pass

from neuropy import core
from neuropy.io import (optitrackio,
                        dlcio,
                        )
from neuropy.io.neuroscopeio import NeuroscopeIO
from neuropy.io.binarysignalio import BinarysignalIO 
from neuropy.io.miniscopeio import MiniscopeIO
from neuropy.core import Epoch
from neuropy.utils import plot_util
from neuropy.plotting.spikes import plot_raster
from neuropy.plotting.signals import plot_signal_w_epochs
from neuropy.plotting.spikes import plot_binned_raster

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Import USV data from DeepSqueak
First, you need to run `Calls2python.m` to convert your DeepSqueak .mat file to something readable by Python

In [93]:
import neuropy.io.usvio as usvio
base_dir = Path('/data2/Trace_FC/Recording_Rats/Han/2022_08_03_training/2_training/USVdetections')
ds = usvio.DeepSqueakIO(base_dir / 'T0000001 2023-09-19  4_23 PM_copy_cell.mat')  # Load in calls

In [94]:
# Display calls in pandas format
ds.usv_df

      Begin_Time  Freq_Min  Duration  Freq_Range     Score  Accept
0      37.700836    39.500      0.01      10.500  0.582072       0
1      39.320836    39.500      0.02      10.500  0.582072       0
2      39.350836    39.500      0.13      10.500  0.582072       0
3      39.500836    39.500      0.01      10.500  0.582072       0
4      39.530836    39.500      0.01      10.500  0.582072       0
..           ...       ...       ...         ...       ...     ...
181  1785.840296    39.875      0.01       8.125  0.570376       0
182  1785.930296    39.875      0.02       8.125  0.570376       0
183  1786.230296    39.875      0.04       8.125  0.570376       0
184  1790.127632    39.875      0.07       8.000  0.516081       0
185  1790.387632    39.875      0.03       8.000  0.516081       0

[186 rows x 6 columns]

In [66]:
# Example code to exclude every call that last less than 0.1 second
usv_df[usv_df['Duration'] > 0.1]

      Begin_Time  Freq_Min  Duration  Freq_Range
2      39.350836    39.500  0.130000   10.500000
12     41.350836    39.500  0.190000   10.500000
20     67.820836    39.500  0.210000   10.500000
21     71.950836    39.500  0.120000   10.500000
24    268.755447     8.000  0.239722   17.372126
..           ...       ...       ...         ...
168  1772.569100    17.750  0.350000   32.125000
172  1774.856784    39.750  0.120000    8.250000
175  1775.426784    39.750  0.150000    8.250000
178  1781.150296    39.875  0.240000    8.125000
179  1785.410296    39.875  0.140000    8.125000

[88 rows x 4 columns]

## Plots to get started with

In [68]:
# Plot histogram of call durations

In [69]:
# Plot histogram of call min and max frequencies